.transparent {
    border: 2px solid #192a56;
    background: #fff;
}

.B1 {
    margin-top: 12%!important;
    // text-align: center;
}

.circle {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    position: relative;
    // z-index: -11111;
}


.cl-1-t {
    border: 2px solid #192a56!important;
    color: #192a56!important;
    background-color: white!important;
}

